* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
}

.main-wrapper {
    display: grid;
    grid-template-rows: auto auto auto auto;
    background: white;
}


/* header */
header {
    background: url("../images/banner/banner-bg.jpg");
    background-size: 100% 180%;
    background-position: 100% 20%;
    height: 15vh;
    grid-area: header;
    background-color: deeppink;
}

h1 {
    font-family: 'Syne Tactile', cursive;
    color: white;
    font-size: 4em;
    padding-left: 1vw;
}


/* navbar */
nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #ce1369;
}

nav li,
nav li a {
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2rem;
    grid-area: nav;
}

li.active {
    font-weight: bold;
    text-shadow: 0 0 5px rgba(219, 195, 195, 0.44);
}

/* main */
.main-body {
    padding: 5px;
}

/* kun på hjemmesiden */

/* animert banner */
.banner-div {
    width: 450hv;
    height: 70hv;
    border: 1px solid black;
    overflow: hidden;
}

.banner-div img {
    width: 5em;
}

.products-div {
    height: 71vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow-y: scroll;
}

.products-div section {
    padding: 10px 0px;
}

.products-div img {
    width: 100%;
}

/* footer */
.footer-box {
    color: #650e36;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    border-top: 2px solid #650e36;
}

footer p {
    margin: 1.5vh;
}

@media only screen and (min-width: 641px) {
    /* tablet */

    /* tablet produkt grid */
    .products-div {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }
    
    
}

@media only screen and (min-width: 1025px) {
    /* desktop */

    header {
        background-size: 100% 200%;
        background-position: 100% 20%;
        height: 30vh;
    }


    /* desktop produkt grid */
    .products-div {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0px;
        overflow: auto;
    }


    .products-div section img {
        width: 20vw;
        max-width: 20em;
    }

    h1 {
        font-size: 6em;
    }

}

/* EGENDEFINERT - rpg */
.rpg-fighter {
    float: left;
}

.rpg-enemy {
    float: right;
}

#rpg-chef {
    width: 150px;
}

.banner-div {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}

#banner-txt {
    margin-top: 40px;
    opacity: 0;
    font-size: 1.5rem;
    margin-left: 14%;
}

.banner-img1 {
    margin-top: 40%;
    opacity: 1;
}

.banner-div {
    border: solid 1px;
    width: 40%;
    height: 150px;
    margin-left: 30%;
}

#h3Banner {
    margin-left: 20px;
}

.bannerElements {
    opacity: 0;
}

/* universal utforming */
.UU-section{
    padding: 1em 0;
}

.UU-section button{
    background: linear-gradient(45deg, #e88a8a, #9a9afc, #b1f0c7);
    padding: 10px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(30, 29, 39, 0.72);
    margin: 10px;
}

.UU-section button:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(13, 13, 18, 0.85);
}

#UU-fakta-output{
    padding: 5px;
}

#logComment{
    text-align: center;
}

.comments{
    background: rgba(0,0,0,0.7);
    margin-bottom: 10px; 
}

.comment-template{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr 1fr;
}

.comment-info{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr; 
}

.comment-text{
    display: grid;
    width: 100px;
}

.comment-profile{
    display: grid;
    text-align: center
}

.comment-star{
    margin: 5px;
    margin-top: 15px;
    display: grid;
    grid-gap: 25px;
    width: 70px;
}

.comment-img{
    font-size: 2rem;
    margin-top: 1rem;
}

form{
    text-align: center;
}

#cmtlist{
    display: grid;
    grid-gap: 10px;

}
#cmtlist p{
    width: 100%;
    border: solid;
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "."
    "."
    ".";
    grid-gap: 25px;
}
#cmtlist span{
   
    
}

#cmtlist .commentName{
    border: solid;
    border-color: red
}

@media  (max-width: 660px){
    #banner-txt{
        font-size: 4vw;
    }
}